/* 之前自己的样式 */
.main-frame{
    padding-right: 20px;
    padding-left: 20px;
}
.homeHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-style:solid;
    border-width: 2px;
}

.homeHeader .title {
    font-size: 30px;
    font-family: 华文行楷;
}

.el-container {
    display:flex; 
    justify-content: space-between; 
    align-items: top;

}

.el-container .el-nav-bar{
     padding-top: 40px;
     flex: 1;
}

.el-container .el-nav-bar .el-aside{
    /* padding-left: 20px;
    padding-right: 20px; */
    text-align: center;
    /* margin-top: 20px; */
    /*margin-right: 20px; */
    /* padding-top: 20px; */
    padding-bottom: 20px;
    border-style:solid;
    border-width: 2px;
    font-size: 14px;
    align-items: center;

}

.el-container .el-nav-bar .el-aside .name{
    border-width: 2px; 
    border-bottom-style: solid;
    padding-top: 20px; 
    padding-bottom: 20px;
    font-size: 14px;
}

.el-container .el-nav-bar .el-aside .link {
    padding-top: 20px; 
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.el-container .el-nav-bar .el-aside .link .linkItem{
    margin-top : 20px;
    /* margin-bottom : 10px;  */
    border-style:solid;
    border-width: 2px;
    padding-top: 20px; 
    padding-bottom: 20px;
}

.el-container .el-content{
    flex: 4;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}

/* layout */
:host {
    text-align: center;
  }

  nz-header,
  nz-footer {
    background: #7dbcea;
    color: #fff;
  }

  nz-footer {
    line-height: 1.5;
  }

  nz-sider {
    background: #3ba0e9;
    color: #fff;
    line-height: 120px;
  }

  nz-content {
    background: rgba(16, 142, 233, 1);
    color: #fff;
    min-height: 120px;
    line-height: 120px;
  }

  nz-layout {
    margin-bottom: 48px;
  }

  nz-layout:last-child {
    margin: 0;
  }

/* button */
[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
  }

/* antd内部样式 */
::ng-deep .ant-layout-sider-children{
        border-style : solid;
        border-width: 1px;
        border-color: rgba(217, 217, 217, 217);
 }

::ng-deep ._ngcontent-yoo-c100{
    min-width : 80%;
}
 

