<div class="main-frame">
   
    <div class="homeHeader">
            <div class="title">Moi Kiitos</div>
            <div class="homeButton"><button (click)="logout()">Logout</button></div>
    </div>
   
    <div class="el-container">
        <div class ="el-nav-bar">
            <div class="el-aside">    
                <div class="name">
                    {{userFeed.userName}}
                </div>
                <div class="link">
                    <div class="linkItem"><a routerLink="fans">Following {{userFeed.followingCount}}</a></div>
                    <div class="linkItem"><a routerLink="fans">Followers {{userFeed.followersCount}}</a></div>  
                </div>
            </div>
        </div>
        <div class="el-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
