<div class="fans">
    <div class="search-box" style="display: flex; justify-content: space-between;">
      
        <input style="align-items: flex-start; flex:8; height: 50px;" placeholder="  search by name/email"/>
     
        <div class="search-box-button" style="flex: 2;">
            <button style="height: 50px; width: 80%;">Search</button>
        </div>
    </div>
    <div class="fans-panel" style="padding-top: 40px;"> 
        <div class="fans-panel-tabs" style="display: flex; width: 40%; border-top-style: solid; border-left-style: solid;border-right-style: solid;;border-width: 2px;height: 40px;">
            <div class="fans-panel-tab-following" style="flex: 1;border-right-style: solid; border-width: 2px;padding: 10px 0px 10px 0px">
                <a routerLink="fans">Following</a>
            </div>
            <div class="fans-panel-tab-following" style="flex: 1;padding: 10px 0px 10px 0px"> 
                <a routerLink="fans">Followers</a>
            </div>
        </div>
        <div class="fans-content" style="border-style: solid; border-width: 2px; padding: 40px 20px 40px 20px;">
            <div class="chatContent">
                <div class="speaker">
                    Tom
                </div>
                <div class="dailog">
                    tom@test.com
                </div>
            </div>
            <div class="chatContent">
                <div class="speaker">
                    John
                </div>
                <div class="dailog">
                    john@test.com
                </div>
            </div>
        </div>
    </div>
</div>