<nz-layout>
  <nz-header><h1>Moi Kiitos</h1></nz-header>
  <nz-content>
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <h2>Welcome</h2>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="username" placeholder="Username" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="Password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <div nz-row class="login-form-margin">
          <!-- <div nz-col [nzSpan]="12">
            <label nz-checkbox formControlName="remember">
              <span>Remember me</span>
            </label>
          </div> -->
          <!-- <div nz-col [nzSpan]="12">
            <a class="login-form-forgot">Forgot password</a>
          </div> -->
        </div>
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
        Or <a routerLink="/user/register">register now!</a>
      </form>
    <!-- <div class="login-form" [hidden]="page!=1">
      <form style="border-style: solid; border-width: 2px; padding: 20px 20px 20px 20px;" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
        <h2 style="margin-bottom: 20px;">Welcome</h2>
        <div class="login-user" style="margin-bottom: 20px;">
          <input id="name" style="width: 80%;height: 40px;"  type="text" formControlName ="name" placeholder="  Name/Email">
        </div>
      
        <div class="login-pwd" style="margin-bottom: 20px;">
          <input id="password" style="width: 80%; height: 40px;" type="text" formControlName ="password" placeholder="  Password">
        </div>
        
        <div class="login-submit">
          <button style="width: 40%; height: 40px;"  class="login-submit" type="submit">Submit</button>
        </div>

        <div class="Sign-Up" style="text-align: right; padding-right: 10%;">
          <a href="javascript:;" (click)="pageActive(2)">Sign up</a>
        </div>
     
      </form>
    </div>

    <div [hidden]="page!=2" class="signup-form">
      <form style="border-style: solid; border-width: 2px; padding: 20px 20px 20px 20px;" [formGroup]="signupForm" (ngSubmit)="onSignup(signupForm.value)">
        <h2 style="margin-bottom: 20px;">Welcome</h2>
        <div class="login-user" style="margin-bottom: 20px;">
          <input id="name" style="width: 80%;height: 40px;"  type="text" formControlName ="name" placeholder="  Name">
        </div>

        <div class="login-user" style="margin-bottom: 20px;">
          <input id="email" style="width: 80%;height: 40px;"  type="text" formControlName ="email" placeholder="  Email">
        </div>
      
        <div class="login-pwd" style="margin-bottom: 20px;">
          <input id="password" style="width: 80%; height: 40px;" type="text" formControlName ="password" placeholder="  Password">
        </div>

        <div class="login-pwd" style="margin-bottom: 20px;">
          <input id="passwordConfirm" style="width: 80%; height: 40px;" type="text" formControlName ="passwordConfirm" placeholder="  Password Confirmation">
        </div>
        
        <div class="login-submit">
          <button style="width: 40%; height: 40px;"  class="login-submit" type="submit">Submit</button>
        </div>

        <div class="Sign-Up" style="text-align: right; padding-right: 10%;">
          <a href="javascript:;" (click)="pageActive(1)">Sign in</a>
        </div>
     
      </form>
    </div> -->
  </nz-content>
  <nz-footer>Powered By Chen Lin</nz-footer>
</nz-layout>