<div class="chatMain">
    <div class="postField">
        <form [formGroup]="chatForm" (ngSubmit)="onSubmit(chatForm.value)">
            <div>
              <textarea id="content" class="dailogPost" type="text" formControlName ="content" placeholder="  Type something here..."></textarea>
            </div>
            <button class="button" type="submit">Post</button>
          </form>
    </div>

    <div *ngFor="let feed of userFeed.feeds" class="chatContent">
        <div class="dialogOwnerCondition" *ngIf="dailogOwner==feed.name" style="flex-direction: row-reverse;">
            <div class="speaker-reverse">
                {{feed.name}} 
            </div>
            <div class="dailog">
                {{feed.content}}
            </div>
        </div>
        <div class="dialogOwnerCondition" *ngIf="dailogOwner!=feed.name">
            <div class="speaker">
                {{feed.name}} 
            </div>
            <div class="dailog">
                {{feed.content}}
            </div>
        </div>
    </div>
</div>