<div class="chatMain">
    <div class="postField">
        <form [formGroup]="chatForm" (ngSubmit)="onSubmit(chatForm.value)">
            <div>
              <!-- <textarea id="content" class="dailogPost" type="text" formControlName ="content" placeholder="  Type something here..."></textarea> -->
              <textarea nz-input placeholder="  Type something here..." formControlName ="content" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
            </div>
            <button  nz-button nzType="primary">Post</button>
          </form>
    </div>

    <div *ngFor="let feed of userFeed.feeds" class="chatContent">
        <div class="dialogOwnerCondition" *ngIf="dailogOwner==feed.name" style="flex-direction: row-reverse;">
            <div class="speaker-reverse">
                {{feed.name}} 
            </div>
            <div class="dailog">
                {{feed.content}}
            </div>
        </div>
        <div class="dialogOwnerCondition" *ngIf="dailogOwner!=feed.name">
            <div class="speaker">
                {{feed.name}} 
            </div>
            <div class="dailog">
                {{feed.content}}
            </div>
        </div>
    </div>
</div>